.catalog {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(auto-fill, auto);
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  gap: 48px;

  @include media (768px, 3);
  @include media (488px, 2);
  @include media (300px, 1);

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
